:root {
    /* Colors */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #9d3e9a;
    --secondary-color: #d4b061;
    --primary-btn-clr: #19214f;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --primary-button: 22px;
    --primary-weight: 600;

    /* Transition */
    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

/* Loader styles */
#loaderModal {
    height: 80vh;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 60vh;
}

.progress {
    width: 67.2px;
    height: 67.2px;
    border-radius: 50%;
    animation: progress-96zj2n 2s infinite;
}

@keyframes progress-96zj2n {
    0% {
        background: conic-gradient(#9d3e9a 0, #d4b061 0);
    }

    12.5% {
        background: conic-gradient(#9d3e9a 45deg, #d4b061 46deg);
    }

    25% {
        background: conic-gradient(#9d3e9a 90deg, #d4b061 91deg);
    }

    37.5% {
        background: conic-gradient(#9d3e9a 135deg, #d4b061 136deg);
    }

    50% {
        background: conic-gradient(#9d3e9a 180deg, #d4b061 181deg);
    }

    62.5% {
        background: conic-gradient(#9d3e9a 225deg, #d4b061 226deg);
    }

    75% {
        background: conic-gradient(#9d3e9a 270deg, #d4b061 271deg);
    }

    87.5% {
        background: conic-gradient(#9d3e9a 315deg, #d4b061 316deg);
    }

    100% {
        background: conic-gradient(#9d3e9a 360deg, #d4b061 360deg);
    }
}

.progress {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}