



/* Loader styles */
#loaderModal {
    height: 80vh;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 60vh;
}

.progress {
    width: 67.2px;
    height: 67.2px;
    border-radius: 50%;
    animation: progress-96zj2n 2s infinite;
}

@keyframes progress-96zj2n {
    0% {
        background: conic-gradient(#474bff 0, #0000 0);
    }

    12.5% {
        background: conic-gradient(#474bff 45deg, #0000 46deg);
    }

    25% {
        background: conic-gradient(#474bff 90deg, #0000 91deg);
    }

    37.5% {
        background: conic-gradient(#474bff 135deg, #0000 136deg);
    }

    50% {
        background: conic-gradient(#474bff 180deg, #0000 181deg);
    }

    62.5% {
        background: conic-gradient(#474bff 225deg, #0000 226deg);
    }

    75% {
        background: conic-gradient(#474bff 270deg, #0000 271deg);
    }

    87.5% {
        background: conic-gradient(#474bff 315deg, #0000 316deg);
    }

    100% {
        background: conic-gradient(#474bff 360deg, #0000 360deg);
    }
}

.progress {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}