/* Global Styles */

/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* Colors */
  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #19214f;
  --secondary-btn-color: #d4b061;
  --secondary-color: #d4b061;
  --primary-btn-clr: #9d3e9a;
  --primary-btn-hover: #c265c1;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;
  --primary-button: 22px;
  --primary-weight: 600;
  --main-heading: 3.5rem;

  /* Transition */
  --tran-03: all 0.2s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

/* Text Selection */
::selection {
  background-color: var(--primary-color);
  color: #fff;
}

.pry-btn {
  background-color: var(--primary-btn-clr);
  color: var(--primary-color-light);
}

.pry-btn:hover {
  background-color: var(--primary-btn-hover);
  color: var(--primary-color-light);
}

ul {
  padding-left: 0;
  border: none;
}
.nav-tabs {
    border-bottom: 0;
}

.nav-tabs .nav-link {
    margin-bottom: 10px; 
    background: none;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-tabs .nav-link.active {
    color: var(--primary-btn-hover);
    background-color: transparent;
    border-color: none;
}

/* ul active {
  border-radius: 0;
  background-color: var(--secondary-color);
} */

/* main-container settings */
.dashboard-container {
  display: flex;
}

/* Sidebar */
.sidebar {
  position: fixed;
  height: 100vh;
  width: 300px;
  background: var(--primary-color);
  transition: var(--tran-05);
  -webkit-box-shadow: 4px 2.5px 5.5px -2px #2e329f;
  -moz-box-shadow: 4px 2.5px 5.5px -2px #2e329f;
  box-shadow: 4px 2.5px 5.5px -2px #2e329f;
}

.back-button {
  position: absolute;
  display: flex;
  padding: 5px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  z-index: 1000;
}

.back-button:hover {
  background-color: var(--secondary-btn-color);
  transition: var(--tran-05);
}

.back-button i {
  font-size: 24px;
  color: var(--body-color);
}

.back-button a {
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 100px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

header {
  text-align: center;
  background-color: white;
  width: 100%;
  border-radius: 25% 25% 8% 8% / 0% 0% 6% 6%;
}

header img {
  width: 200px;
  height: 200px;
  text-align: center;
}

.sidebar ul li {
  list-style: none;
  height: 60px;
  background-color: transparent;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
  position: relative;
  font-size: var(--nav-text-lg);
  font-weight: 500;
}

/* select a language */
.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select select {
  display: block;
}

.selected-language {
  position: relative;
  padding-right: 20px; /* Add some padding to accommodate the dropdown icon */
  cursor: pointer; /* Add a cursor pointer to indicate interaction */
}

/* .selected-language::after {
  content: "\25BC"; 
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
} */


.sidebar ul li a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.bottom-content {
  color: var(--body-color);
}

.sidebar ul li:hover {
  color: var(--secondary-color);
  transition: var(--tran-05);
}

/* Menu Bar */
.menu {
  color: var(--body-color);
}

.sidebar .menu-bar {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
}

.sidebar ul .nav-item.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 0;
  transition: var(--tran-05);
}


/* tab-content/main content for lg screens */
.control-center-item {
  position: fixed;
  right: 0;
  height: 100%;
  width: calc(100vw - 310px);
  overflow-y: scroll;
}

/* Home Section */
.home-container {
  display: flex;
  flex-direction: column;
  padding: 70px;
  left: 100px;
  min-height: 100vh;
  position: relative;
}

.main-content-container {
  background-color: #fffdf5;
  max-width: 400px;
  margin: auto;
  padding: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.main-content-heading {
  color: var(--primary-color);
}

/***** Admin-center styles *******/
.home-container {
  padding: 20px;
}

/* Header */
.home-container .page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
}

.not-admin-heading {
  display: none;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}

/* section divider - just trying stuff here. The look might be changed */
.section-divider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  align-content: center;
  gap: 50px;
}

/* profile Details Section */
.profile-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  margin: 40px auto;
}

.user-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  border: 1px solid #ccc;
  margin: 20px auto;
  gap: 50px;
  width: 100%;
}

.user-details {
  display: flex;
}

.user-image {
  margin-right: 20px;
}

.user-image img {
  width: 100%;
  border-radius: 50%;
}

.user-info {
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.detail-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detail-label {
  font-weight: bold;
  margin-right: 10px;
}

.b-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
}

/* View Timetable Link */
.b-container_button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.edit-button {
  background-color: var(--secondary-color);
}

.b-container_button:hover {
  background-color: #8B7AFF;
}

.edit-button:hover {
  background-color: #D48A32;
}

.new-account-btn {
  background-color: #57B68D;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 25px;
}

.account-operations ul {
  text-decoration: none;
  width: 100%;
  list-style: none;
}

.account-operations ul li {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.account-operations ul li input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
  margin-left: 5px;
}

.search-accounts {
  display: flex;
  width: 100%;
  align-items: center;
  height: 40px;
  padding: 10px;
  margin-top: 25px;
}

.new-account-btn i {
  margin-right: 10px;
}

.new-account-btn:hover {
  background-color: #3D825F;
}

.admin-activities {
  background-color: var(--primary-color);
  padding: 120px 25px;
}

.activities-text {
  background-color: var(--primary-color-light);
  color: black;
  padding: 25px;
  border-radius: 20px;
  margin-block: 30px;
}

/* create account modal */
/* #createAccountModal {
  width: 100vw;
} */


#createAccount {
  margin: 15px auto;
  width: 100%;
  padding: 20px;
}

.createAccountForm {
  gap: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-left: 2px;
  margin-bottom: 2px;
}

/* styles for the manage staff tab pane in the control center */
.staff-list-item {
    cursor: pointer;
}

.modal-content.active-status .modal-body p strong {
    color: green;
}

.modal-footer #btnDeactivate {
    color: red;
}

#textActive {
  color: red;
}

/* styles for responsive layout */
@media screen and (max-width: 767px) {

  /* display sidebar above all other content on the page on medium and small screens */
  .sidebar {
    width: 80%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 100;
  }

  /* Show the sidebar when the toggle is clicked or tapped */
  .sidebar.open {
    width: 250px;
  }

  .logo-container {
    display: none;
  }

  .sidebar.close {
    width: 0;
  }

  .sidebar.close .text {
    opacity: 1;
  }

  .sidebar header .toggle {
    display: block;
  }


  .home-container {
    padding: 70px 50px;
    width: 100%;
  }

  /* .home {
    left: 10px;
  } */

  .sidebar header .toggle {
    top: 20px;
    padding: 2px;
  }
}